---
import Heading from "./ui/Heading.astro";
---

<section class="wrapper">
  <div class="intro">
    <Heading
      as="h1"
      class="name gradient-text gradient-color outline outline-color"
    >
      Dan Dumont
    </Heading>
    <p class="subtext">Engineering leader and tech enthusiast</p>
    <p>
      Dan Dumont is an engineering leader currently working to help deliver quality software and shape the engineering culture at <a href="http://linksquares.com" target="_blank">LinkSquares</a>. Dan has a background in front-end engineering and design and has over fifteen years of experience. He's passionate about developer productivtiy and scaling systems and processes. He previously worked at Constant Contact and Harvard Business School Publishing. 
    </p>
  </div>
  <img src="/images/headshot.avif" alt="Dan Dumont Headshot" class="headshot" />
</section>

<style>
  .wrapper {
    display: flex;
    padding-top: 1rem;
  }
  .headshot {
    display: inline-block;
    border-radius: 50%;
    max-width: 125px;
    max-height: 125px;
    object-fit: contain;
  }
  .outline {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.075rem var(--outline-color);
  }

  .gradient-color {
    --gradient-text-from: #5433ff;
    --gradient-text-via: #20bdff;
    --gradient-text-to: #a5fecb;
  }

  .outline-color {
    --outline-color: var(--text-heading);
  }

  @media (prefers-color-scheme: dark) {
    .gradient-color {
      --gradient-text-from: #a5fecb;
      --gradient-text-via: #20bdff;
      --gradient-text-to: #a5fecb;
    }
    .outline-color {
      --outline-color: transparent;
    }
  }

  .name {
    font-size: 2.25rem;
    margin: 0;
    letter-spacing: -2px;
    line-height: 3.5rem;
  }

  .subtext {
    color: var(--text-heading);
    font-size: 1.25rem;
    letter-spacing: -0.51px;
    line-height: 2rem;
    margin-top: 0.5rem;
    font-weight: 500;
  }

  .cli-command {
    text-align: center;
    white-space: nowrap;
    overflow: auto;
  }

  @media (min-width: 640px) {
    .name {
      font-size: 4rem;
      line-height: 4.75rem;
    }
    .subtext {
      font-size: 1.5rem;
      letter-spacing: -0.51px;
      line-height: 2rem;
      margin-top: 0.5rem;
    }
  }
  @media (max-width: 640px) {
    .wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
    .intro {
      order: 2;
    }
    .headshot {
      order: 1;
      margin-bottom: 1rem;
    }
  }
</style>
